@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Encode Sans';
  src: url('../fonts/EncodeSans-SemiBold.eot');
  src: url('../fonts/EncodeSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-SemiBold.woff2') format('woff2'),
    url('../fonts/EncodeSans-SemiBold.woff') format('woff'),
    url('../fonts/EncodeSans-SemiBold.ttf') format('truetype'),
    url('../fonts/EncodeSans-SemiBold.svg#EncodeSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Encode Sans';
  src: url('../fonts/EncodeSans-ExtraBold.eot');
  src: url('../fonts/EncodeSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/EncodeSans-ExtraBold.woff') format('woff'),
    url('../fonts/EncodeSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/EncodeSans-ExtraBold.svg#EncodeSans-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --white: #ffffff;
  --dark: #50535c;
  --dark-grey: #aaaaaa;
  --light-grey: #e7e7e7;
  --celeste: #37bbed;
  --font-title: 'Gotham';
  --font-text: 'Gotham';
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-grey);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--celeste);
  border-radius: 100px;
}

body {
  font-family: var(--font-text) !important;
  font-weight: normal;
  color: var(--dark) !important;
  height: auto !important;
  width: auto !important;
}

main {
  padding: 0;
  margin: 0;
}

a {
  color: var(--celeste);
  text-decoration: none !important;
}

a:hover {
  color: var(--celeste);
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title) !important;
  font-weight: bold !important;
  letter-spacing: -1px;
  margin: 0.4em 0 0.4em 0 !important;
}

h1,
h2 {
  text-transform: uppercase;
}

.font-normal {
  font-weight: normal !important;
}

hr {
  border: .5px solid var(--dark) !important;
  margin: 24px 0 !important;
}

.btn {
  border: none !important;
  font-weight: normal !important;
  margin-bottom: 8px !important;
  padding: 12px 24px !important;
  text-transform: uppercase !important;
}

.btn:focus {
  border: 1px solid var(--celeste) !important;
}

.btn-primary {
  background-color: var(--celeste) !important;
  font-family: var(--font-title) !important;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: var(--dark) !important;
  color: var(--white) !important;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 12px 20px -20px;
}

.bg-celeste {
  background-color: var(--celeste);
}

.bg-grey {
  background-color: var(--light-grey);
}

.bg-dark {
  background-color: var(--dark);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 16px;
  bottom: 16px;
  z-index: 996;
  background: var(--celeste);
  width: 52px;
  height: 52px;
  border-radius: 100px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--dark);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: transparent;
  border-bottom: 0.5px solid var(--celeste);
  height: 44px;
  font-size: 16px;
  z-index: 996;
  color: var(--white);
  transition: all 0.5s;
}

#topbar.topbar-scrolled {
  background-color: var(--celeste);
  top: 0px;
  font-size: 14px;
  height: 40px;
  color: var(--white);
  backdrop-filter: blur(2px);
}

#topbar .contact-info a {
  line-height: 1;
  color: var(--white);
}

#topbar .contact-info i {
  padding-right: 8px;
  margin-left: 24px;
  line-height: 0;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .topbar_phone {
  margin-right: 24px
}

@media (max-width: 768px) {
  .topbar_phone {
    display: none;
  }
}

#header {
  background: transparent;
  transition: all 0.5s;
  z-index: 997;
  padding: 16px 0;
  top: 41px;
}

#header.header-scrolled {
  background-color: var(--dark);
  top: 40px;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 768px) {
  #header .logo img {
    max-height: 34px;
  }
}


/** clientes Button **/
.clientes-btn {
  margin-left: 25px;
  background: var(--celeste);
  color: #fff;
  border-radius: 50px;
  padding: 8px 24px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
}

.clientes-btn:hover {
  background: var(--white);
  color: var(--celeste);
}

@media (max-width: 768px) {
  .clientes-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  min-height: 40px !important;
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  white-space: nowrap;
  transition: 0.3s;
  padding: 4px 2px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--celeste);
  border-color: var(--celeste);
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--white);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  color: var(--celeste);
  position: absolute;
  top: 40px;
  right: 16px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 15px;
  padding: 60px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 22px;
  color: var(--dark);
  border: none;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--celeste);
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: var(--dark);
  overflow: hidden;
  margin-bottom: -200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(80,83,92);
  background: -moz-linear-gradient(0deg, rgba(80,83,92,0) 0%, rgba(80,83,92,.7) 100%);
  background: -webkit-linear-gradient(0deg, rgba(80,83,92,0) 0%, rgba(80,83,92,.7) 100%);
  background: linear-gradient(0deg, rgba(80,83,92,0) 0%, rgba(80,83,92,.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50535c",endColorstr="#50535c",GradientType=1);
  z-index: 1;
}

#hero .container {
  position: relative;
  text-align: center;
  z-index: 2;
}

#hero .btn-contacto {
  background: var(--celeste);
  border-radius: 50px;
  color: var(--white);
  display: inline-block;
  font-family: var(--font-title);
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  padding: 16px 36px;
  text-transform: uppercase;
  transition: 0.5s;
}

#hero .btn-contacto:hover {
  background: var(--dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transform: scale(1.15);
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 3.2rem;
  line-height: 1.1;
  color: var(--white);
  text-transform: none;
}

@media (max-width: 1281px) {
  #hero {
    background-attachment: fixed;
  }

  #hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 550px;
    margin-bottom: 0px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 32px;
  }

  #hero .btn-contacto {
    display: block;
    font-size: 13px;
    padding: 12px 24px;
  }
  
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 0 !important;
  overflow: hidden !important;
}

.inner-page {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .inner-page {
    margin-top: 100px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.panel-hover {
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  height: 300px;
  transition: .3s;
}

.panel-hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.panel-hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel-hover-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
  padding: 24px;
}

.panel-hover a {
  color: var(--white) !important;
}

.panel-hover .panel-hover-overlay {
  background: rgba(80, 83, 92, 0.5);
}

.panel-hover:hover img {
  width: 150%;
}

.panel-hover:hover::after {
  opacity: 1;
  transform: none;
}

.panel-hover:hover .panel-hover-overlay {
  background: rgba(80, 83, 92, 0.5);
}

a.panel {
  transition: .3s !important;
}

a.panel .panel-heading {
  transition: opacity 1s !important;
}

a.panel:focus,
a.panel:hover {
  background: var(--white) !important;
  color: var(--dark) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transform: scale(1.02);
}

.text-muted,
time {
  color: var(--dark-grey) !important;
}

@media (max-width: 1200px) {
  .panel-hover {
    height: 300px;
  }
}


/*--------------------------------------------------------------
# Jumbotron / Novedades
--------------------------------------------------------------*/

.jumbotron {
  display: flex !important;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(80,83,92);
  background: -moz-linear-gradient(0deg, rgba(80,83,92,0) 0%, rgba(80,83,92,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(80,83,92,0) 0%, rgba(80,83,92,1) 100%);
  background: linear-gradient(0deg, rgba(80,83,92,0) 0%, rgba(80,83,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50535c",endColorstr="#50535c",GradientType=1);
  z-index: 1;
}

.jumbotron-container {
  z-index: 2;
}

.jumbotron .jumbotron_bar .breadcrumb {
  text-shadow: none !important;
}

.jumbotron .jumbotron_bar .breadcrumb li a {
  font-size: 16px !important;
  font-weight: normal !important;
}

.jumboarticle {
  min-height: 500px !important;
}

article .overlap {
  left: 0px !important;
}

@media (max-width: 768px) {
  .jumboarticle {
    min-height: 230px !important;
    align-items: flex-end !important;
  }
  
}


/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/

.card {
  border: none !important;
}

.card-img-overlay {
  text-align: center;
  padding: 16px !important;
  border-radius: 10px !important;
}

.card-box {
  background-color: var(--light-grey);
  border-radius: 20px;
  padding: 24px;
}


/*--------------------------------------------------------------
# Clientes
--------------------------------------------------------------*/

.owl-carousel .owl-item {
  border: 1px solid var(--dark-grey);
  border-radius: 10px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  border-top: 1px solid var(--light-grey) !important;
}

#footer {
  color: var(--dark);
  font-size: 16px;
  background: var(--light-grey);
}

#footer .footer-top {
  padding: 50px 0 0px 0;
  background: var(--light-grey);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: var(--dark);
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--celeste);
  font-size: 16px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--dark);
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--celeste);
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 16px;
  display: inline-block;
  color: var(--celeste);
  margin-right: 24px;
  margin-top: 24px;
}

#footer .social-links a:hover {
  color: var(--celeste);
  text-decoration: none;
}